<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="./dist/assets/favicon.png"/>
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
      type="text/css"/>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
      type="text/css"/>
<!-- Core theme CSS (includes Bootstrap)-->
<!-- Magnific popup -->
<link href="./dist/css/magnific-popup.css" rel="stylesheet"/>
<!-- Animation wow js for elements -->
<link href="./dist/css/animate.css" rel="stylesheet"/>
<!-- regular styles for webpage -->
<link href="./dist/css/system.css" rel="stylesheet"/>